{% extends "base.html.twig" %}

{% block title %}Formulário séries{% endblock %}

{% block body %}
    <form method="post">
        <label for="name">Nome da série</label>
        <input id="name" type="text" name="name">

        <button>Adicionar</button>
    </form>
{% endblock %}