{% extends "base.html.twig" %}

{% block title %}Listagem de séries{% endblock %}

{% block body %}
<div>
    <a class="btn btn-dark mb-3" href="{{ path('app_add_series_form') }}">
        Adicionar
    </a>

    <ul class="list-group">
        {% for series in seriesList %}
            <li class="list-group-item d-flex justify-content-between">
                {{ series.getName() }}

                <form
                    method="post"
                    action="{{ path('app_delete_series', { id: series.id }) }}"
                >
                    <input type="hidden" name="_method" value="DELETE">
                    <button href="#" class="btn btn-sm btn-danger">X</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}